[submodule ".vim/pack/package/start/molokai"]
	path = .vim/pack/package/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/pack/package/start/vim-airline"]
	path = .vim/pack/package/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/package/start/vim-airline-themes"]
	path = .vim/pack/package/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/package/start/vim-renamer"]
	path = .vim/pack/package/start/vim-renamer
	url = https://github.com/qpkorr/vim-renamer.git
